[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User=pi
Type=notify
ExecStart=/bin/bash -c "/usr/bin/transmission-daemon -f --log-error --bind-address-ipv4=$(/usr/local/bin/vpntunneliporinvalidipifnotun.sh)"
ExecStop=/bin/kill -s STOP $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
